a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%
}

html {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

caption,td,th {
	vertical-align: middle;
	text-align: left;
	font-weight: 400
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: "";
	content: none
}

a img {
	border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

body {
	-webkit-text-size-adjust: 100%!important;
	-ms-text-size-adjust: 100%!important;
	text-size-adjust: 100%!important
}

b,strong {
	font-weight: 700
}

.clearfix:after {
	content: "";
	display: block;
	clear: both
}

*,:after,:before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

body,html {
	width: 100%;
	font-size: .6rem;
	font-family: helvetica,Arial,"\9ED1\4F53",sans-serif;
	line-height: 1.4
}

.width750 {
	font-size: .7rem
}

.width750 .main-wrap {
	max-width: 18.75rem
}

.width750 .good-failure {
	background-size: 3.875rem!important
}

button,input,select,textarea {
	margin: 0;
	font-size: 100%
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border: 0
}

a {
	outline: none;
	color: #000;
	text-decoration: none
}

button {
	border: 0;
	outline: 0
}

:focus {
	outline: none
}
.clear{
    clear:both;
}

.main-wrap {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 16rem;
	width: 100%
}

.main-wrap.full-screen,.main-wrap.full-screen .mobile-container {
	max-width: none!important
}

@font-face {
	font-family:iconfont;src:url(fonts/iconfont.eot);src:url(fonts/iconfont.eot) format("embedded-opentype"),url(fonts/iconfont.woff) format("woff"),url(fonts/iconfont.ttf) format("truetype"),url(fonts/iconfont.svg) format("svg")
}

.iconfont {
	text-decoration: none;
	font-style: normal;
	font-size: .6rem;
	font-family: iconfont,sans-serif!important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .4px;
	-moz-osx-font-smoothing: grayscale
}

.yoho-tip {
	position: fixed;
	display: none;
	text-align: center;
	width: 50%;
	padding: 15PX;
	top: 50%;
	left: 50%;
	margin-left: -25%;
	margin-top: -45PX;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	font-size: .6rem;
	border: none;
	z-index: 1000;
	box-sizing: border-box;
	border-radius: 10PX
}

.order-failure {
	background-size: 100%
}

.good-failure,.order-failure {
	background-image: url()
}

.good-failure {
	background-position-x: 40%;
	background-size: 3.3rem!important
}

img:not([src]),img[src=""] {
	opacity: 0
}

.yoho-order-bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);
	z-index: 4;
	display: none
}

.yoho-order-bg .order-tip-box {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: .25rem;
	width: 10.5rem;
	margin-top: 10rem;
	vertical-align: center;
	position: relative
}

.yoho-order-bg .order-tip-box .order-tip-msg {
	font-size: 1.1em;
	padding: 1rem .5rem;
	text-align: center
}

.yoho-order-bg .order-tip-box .order-tip-msg p:last-child {
	margin-bottom: 1.25rem
}

.yoho-order-bg .order-tip-box .order-tip-btn-group {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem
}

.yoho-order-bg .order-tip-box .order-tip-btn-group a {
	width: 5.225rem;
	box-shadow: none;
	background-color: #fff;
	font-size: 1.2em;
	text-align: center;
	float: left;
	display: inline-block
}

.yoho-order-bg .order-tip-box .order-tip-btn-group a span {
	display: block;
	width: 100%;
	height: 100%
}

.yoho-order-bg .order-tip-box .order-tip-btn-group a:first-child {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 0 0 0 .2rem
}

.yoho-order-bg .order-tip-box .order-tip-btn-group a:last-child {
	border-top: 1px solid #ccc;
	border-radius: 0 0 .2rem
}

.yoho-order-bg .order-tip-box .order-tip-btn-group .order-tip-btnred {
	color: #d0021b
}

.yoho-order-bg .order-tip-box .order-tip-btn-group .order-tip-btn1 {
	width: 10.45rem;
	border-right: none;
	border-radius: 0 0 .2rem .2rem!important
}

.icon-checkbox:before {
	content: "\E61C"
}

.icon-cb-checked:before {
	content: "\E61D"
}

.icon-radio:before {
	content: "\E647"
}

.icon-cb-radio:before {
	content: "\E646"
}

.icon-up:before {
	content: "\E608"
}

.icon-down:before {
	content: "\E609"
}

.icon-wenhao:before {
	content: "\E699"
}

.icon-point1:before {
	content: "\E60C"
}

.icon-tan:before {
	content: "\E73B"
}

.wx-footer-c {
	margin-top: .75rem
}

.wx-footer {
	padding: .5rem 0;
	border-top: 1px solid #e0e0e0;
	background-color: #fff
}

.wx-footer .wx-pic {
	width: 15%;
	float: left;
	padding: .375rem .625rem 0
}

.wx-footer .wx-pic img {
	width: 100%;
	height: auto
}

.wx-footer .wx-text {
	float: left;
	width: 73%
}

.wx-footer .wx-text .wx-title {
	font-size: .7rem;
	color: #444
}

.wx-footer .wx-text .wx-tip {
	font-size: .6rem;
	color: #b0b0b0
}

.wx-footer .wx-btn {
	margin-top: .25rem;
	width: 10%;
	text-align: center;
	line-height: .875rem;
	height: .875rem;
	display: block;
	background-color: #444;
	color: #fff;
	font-size: .6rem;
	border-radius: .075rem;
	float: left
}

.width750 .yoho-header {
	height: 2.625rem;
	line-height: 2.625rem
}

.width750 .yoho-header .nav-back {
	left: 0;
	width: 2.625rem;
	height: 2.625rem;
	line-height: 2.625rem
}

.width750 .yoho-header .nav-home {
	right: 0;
	width: 2.625rem;
	height: 2.625rem;
	line-height: 2.625rem
}

.width750 .yoho-header .nav-btn {
	right: .3rem;
	width: 2.625rem;
	height: 2.625rem;
	line-height: 2.625rem
}

.width750 .yoho-header .nav-sub-right {
	position: absolute;
	top: 0;
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	outline: none;
	color: #fff;
	text-align: center;
	font-size: 20PX;
	line-height: 2.25rem;
	width: 3rem;
	height: 2.625rem;
	line-height: 2.625rem;
	font-size: .8rem
}

.width750 .yoho-header .nav-title {
	margin-right: 2.925rem;
	margin-left: 2.925rem;
	font-size: 1.05rem;
	font-weight: 400
}

.width750 .yoho-header .my-reward {
	font-size: .7rem;
	width: auto;
	padding-right: .5rem
}

.width750 .yoho-header .save {
	font-size: .7rem
}

.width750 .system-update {
	height: 2.625rem;
	line-height: 2.625rem
}

.width750 .system-update .system-header {
	font-size: 1.75rem
}

.width750 .system-update span {
	font-size: 2.35rem
}

.width750 .homebuttom {
	height: 8.875rem;
	top: 2.325rem
}

.width750 .user-defined-header {
	background: none;
	background-color: #3e3e3e
}

.yoho-header {
	position: relative;
	z-index: 20;
	width: 100%;
	height: 2.25rem;
	background-color: #000;
	color: #fff;
	line-height: 2.25rem
}

.yoho-header,.yoho-header.boys {
	background-image: -webkit-linear-gradient(#323232,#414141);
	background-image: linear-gradient(#323232,#414141)
}

.yoho-header.girls {
	background: #ff88ae
}

.yoho-header.kids {
	background: #7ad9f9
}

.yoho-header.life-style {
	background: #4f4138
}

.yoho-header a.highlight {
	background: hsla(0,0%,78.4%,.1)
}

.yoho-header .nav-back {
	left: 0
}

.yoho-header .nav-back,.yoho-header .nav-home {
	position: absolute;
	top: 0;
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	outline: none;
	color: #fff;
	text-align: center;
	font-size: 20PX;
	line-height: 2.25rem
}

.yoho-header .nav-home {
	right: 0
}

.yoho-header .nav-btn {
	font-size: 20PX;
	right: .25rem;
	font-size: 14PX
}

.yoho-header .nav-btn,.yoho-header .nav-sub-right {
	position: absolute;
	top: 0;
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	outline: none;
	color: #fff;
	text-align: center;
	line-height: 2.25rem
}

.yoho-header .nav-sub-right {
	font-size: 20PX;
	right: 2.5rem
}

.yoho-header .nav-title {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	margin-right: 2.5rem;
	margin-left: 2.5rem;
	height: 100%;
	color: #fff;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: .9rem
}

.system-update {
	display: none;
	overflow: hidden;
	width: 100%;
	height: 2.25rem;
	background-image: -webkit-linear-gradient(#323232,#414141);
	background-image: linear-gradient(#323232,#414141);
	line-height: 2.25rem
}

.system-update .system-header {
	width: 85%;
	font-size: 1.5rem
}

.system-update .system-header,.system-update span {
	float: left;
	overflow: hidden;
	height: 100%;
	color: #fff;
	text-align: center
}

.system-update span {
	width: 14%;
	font-weight: 700;
	font-size: 2rem
}

.homebuttom {
	width: 7rem;
	height: 8.875rem;
	position: absolute;
	top: 2rem;
	right: .3rem;
	z-index: 2;
	overflow: hidden;
	color: #fff;
	background-size: 100% 100%;
	padding-top: .425rem
}

.homebuttom.boys ul {
	background-image: -webkit-linear-gradient(#434343,#171717);
	background-image: linear-gradient(#434343,#171717)
}

.homebuttom.boys ul li span {
	border-bottom: 1px solid #444
}

.homebuttom.boys .ul-arr {
	background-color: #434343
}

.homebuttom.girls ul {
	background-image: -webkit-linear-gradient(#fc89ad,#e96e94);
	background-image: linear-gradient(#fc89ad,#e96e94)
}

.homebuttom.girls .ul-arr {
	background-color: #fc89ad
}

.homebuttom.kids ul {
	background-image: -webkit-linear-gradient(#7ed3f7,#5fc9f6);
	background-image: linear-gradient(#7ed3f7,#5fc9f6)
}

.homebuttom.kids .ul-arr {
	background-color: #7ed3f7
}

.homebuttom.life-style ul {
	background-image: -webkit-linear-gradient(#5e4a3c,#4c3727);
	background-image: linear-gradient(#5e4a3c,#4c3727)
}

.homebuttom.life-style .ul-arr {
	background-color: #5e4a3c
}

.homebuttom .ul-arr {
	width: .75rem;
	height: .75rem;
	position: absolute;
	top: .1rem;
	right: .8rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.homebuttom ul {
	overflow: hidden;
	width: 100%;
	height: 8.45rem;
	padding: 1px 0;
	border-radius: .25rem
}

.homebuttom ul li {
	float: left;
	overflow: hidden;
	width: 100%;
	height: 2.1rem;
	line-height: 2.1rem;
	padding-left: 1rem
}

.homebuttom ul li i {
	display: block;
	float: left;
	font-size: .75rem;
	color: #fff;
	width: 1.75rem
}

.homebuttom ul li span {
	display: block;
	float: left;
	font-size: .7rem;
	color: #fff;
	width: 4.25rem;
	height: 2.1rem;
	border-bottom: 1px solid #fff;
	padding-left: .5rem
}

.homebuttom ul li:last-child span {
	border-bottom: 0
}

.is-mars-app .yoho-header {
	display: none
}

.width750 .yoho-footer {
	font-size: .7rem;
	border-top: 1px solid #e0e0e0
}

.width750 .op-row {
	padding: 0 .875rem;
	height: 3.5rem;
	line-height: 3.5rem
}

.width750 .op-row .user-name {
	margin-left: .35em;
	max-width: 5.85rem
}

.width750 .op-row .back-to-top {
	right: 1.175rem
}

.width750 .op-row .sep-line {
	color: #e0e0e0;
	margin: 0 .75rem
}

.width750 .copyright {
	height: 2.75rem!important;
	line-height: 2.75rem!important
}

.wechat-body .yoho-footer .float-top.hover {
	bottom: 6.2rem
}

.yoho-footer {
	position: relative;
	width: 100%;
	background-color: #fff;
	font-size: .6rem;
	display: none
}

.yoho-footer .op-row {
	padding: 0 .75rem;
	height: 3rem;
	line-height: 3rem
}

.yoho-footer .op-row a,.yoho-footer .op-row span {
	display: inline-block;
	overflow: hidden
}

.yoho-footer .op-row .user-name {
	max-width: 5rem;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap
}

.yoho-footer .op-row .back-to-top {
	position: absolute;
	right: 1rem
}

.yoho-footer .op-row .sep-line {
	color: #e0e0e0;
	margin: 0 .75rem
}

.yoho-footer .float-top {
	position: absolute;
	top: 1.175rem;
	right: 1.175rem;
	left: auto;
	bottom: auto;
	border-radius: 50%;
	width: 2.2rem;
	height: 2.2rem;
	background: url(../images/back-to-top.fcf6828d24.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: none
}

.yoho-footer .float-top.hover {
	position: fixed;
	top: auto;
	left: auto;
	right: .75rem;
	bottom: 3.5rem;
	z-index: 9999;
	display: block
}

.yoho-footer .copyright {
	height: 60PX;
	background-color: #eee;
	color: #666;
	text-align: center;
	line-height: 60PX;
	font-size: .6rem
}

.float-layer,.yoho-footer.bottom {
	position: fixed;
	bottom: 0;
	width: 100%
}

.float-layer {
	opacity: 0;
	height: 44PX;
	background: rgba(68,68,68,.95);
	left: 0;
	z-index: 9999;
	padding: 10PX 0;
	box-sizing: content-box
}

.float-layer .float-layer-left {
	padding-left: 22PX;
	overflow: hidden;
	float: left
}

.float-layer .float-layer-left img {
	height: 44PX;
	float: left;
	margin-right: 10PX
}

.float-layer .float-layer-left p {
	float: left;
	font-size: 16PX;
	height: 44PX;
	line-height: 44PX;
	color: #fff
}

.float-layer .float-layer-left .yoho-icon {
	float: left;
	margin-right: 10PX;
	font-size: 22PX;
	line-height: 44PX;
	width: 44PX;
	height: 44PX;
	text-align: center;
	color: #fff;
	border-radius: 10PX;
	background-image: -webkit-linear-gradient(#323232,#0f0f0f);
	background-image: linear-gradient(#323232,#0f0f0f)
}

#float-layer-close {
	position: absolute;
	left: 0;
	top: 0;
	width: 2.5rem;
	height: 2.5rem
}

#float-layer-close .close-icon {
	position: absolute;
	left: 0;
	top: 0;
	color: silver;
	z-index: 2;
	font-size: 18PX
}

#float-layer-btn {
	position: absolute;
	top: 50%;
	right: 15PX;
	font-size: 16PX;
	padding: 0 10PX;
	height: 27PX;
	line-height: 27PX;
	background: #fff;
	border-radius: 5PX;
	margin-top: -13PX;
	-webkit-tap-highlight-color: rgba(0,0,0,.5)
}

#float-layer-btn:active,#float-layer-btn:hover,#float-layer-btn:link,#float-layer-btn:visited {
	color: #000
}

.circle-rightbottom {
	position: absolute;
	width: 25PX;
	height: 0;
	border: solid #323232;
	border-width: 0 0 25px;
	border-radius: 0 0 25PX
}

.is-now-app .op-row .back-to-top,.is-now-app .op-row .float-top {
	display: none
}

.relative {
	position: relative
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

.hide {
	display: none
}

.show {
	display: block!important
}

.overflow-hidden {
	overflow: hidden
}

.text-overflow {
	white-space: nowrap
}

.line-clamp-2,.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.vh-center {
	text-align: center
}

.vh-center:before,.vh-center>* {
	display: inline-block;
	vertical-align: middle
}

.vh-center:before {
	content: "";
	width: 0;
	height: 100%;
	line-height: 100%;
	vertical-align: middle
}

.dialog-wrapper {
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 20
}

.dialog-wrapper .dialog-box {
	width: 13.5rem;
	border-radius: .5rem;
	background: hsla(0,0%,100%,.84);
	position: absolute;
	left: 50%;
	margin-left: -6.75rem;
	font-size: .75rem;
	text-align: center;
	color: #000
}

.dialog-wrapper .dialog-content {
	padding: 1.5rem .75rem;
	font-size: .8rem
}

.dialog-wrapper .dialog-header {
	padding: 1.25rem 0 1rem;
	font-size: .85rem;
	text-align: center;
	font-weight: 700
}

.dialog-wrapper .dialog-footer {
	height: 2.2rem;
	line-height: 2.2rem
}

.dialog-wrapper .dialog-footer>span {
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box
}

.dialog-wrapper .dialog-footer>span:last-of-type {
	border-left: 1px solid #ccc;
	color: #d0021b
}

.dialog-wrapper .dialog-footer>span:active {
	background-color: #ccc
}

.dialog-wrapper .dialog-footer>span.dialog-center-btn {
	width: 100%;
	border: none;
	text-align: center
}

.dialog-wrapper .dialog-footer:before {
	content: "";
	position: absolute;
	left: 0;
	width: 200%;
	height: 0;
	border-top: 1px solid #ccc;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: scale3d(.5,.5,.5);
	transform: scale3d(.5,.5,.5)
}

.data-bind {
	display: none!important
}

.suspend-cart {
	position: fixed;
	right: .75rem;
	bottom: 3.5rem;
	z-index: 10;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	text-align: center;
	line-height: 2.2rem
}

.suspend-cart a {
	display: block;
	width: 100%;
	height: 100%
}

.suspend-cart .iconfont {
	color: #fff;
	font-size: .9rem
}

.suspend-cart .cart-count {
	position: absolute;
	top: -.6rem;
	right: -.5rem;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	background: #f03d35;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	line-height: 1.8rem;
	-webkit-transform: scale(.5);
	transform: scale(.5)
}

.suspend-home {
	position: fixed;
	right: .75rem;
	bottom: 3.5rem;
	z-index: 10;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	background: rgba(0,0,0,.3);
	text-align: center;
	line-height: 2.2rem
}

.suspend-home a {
	display: block;
	width: 100%;
	height: 100%
}

.suspend-home .iconfont {
	color: #fff;
	font-size: .9rem
}


/**  pager **/

.pager a {
    height: 24px;
    padding: 0 9px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    color: #222;
}

.pager a.cur {
    color: #fff;
    background-color: #222;
}
.pager a:first-child .iconfont {
    right: auto;
    left: -5px;
}
.pager .iconfont {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    right: -5px;
    font-size: 14px;
}

.pageToolbar{
    padding:3% 4%
}

/**  pager **/

.correct-msg {
    margin: 3px 0;
    background: #eff5ea url(../images/i_msg-success.gif) no-repeat scroll 8px 4px;
    border: 1px solid #95a486;
    color: #3d6611;
    font-size: 0.8em;
    padding: 5px 30px;
    margin: 0.4rem 1rem;
}

.error-msg {
    margin: 3px 0;
    background: #faebe7 url(../images/i_msg-error.gif) no-repeat scroll 8px 4px;
    border: 1px solid #f16048;
    color: #df280a;
    font-size: 0.8em;
    padding: 5px 30px;
    margin: 0.4rem 1rem;
}




