.shopping-cart-page {
	margin-bottom: 3rem;
	overflow-x: hidden
}

.shopping-cart-page .cart-content {
	display: none;
    padding-bottom: 4.5rem;
    margin-top: 0rem;
    min-height: 25rem;
    background: #fff;
}

.shopping-cart-page .cart-content.active {
	display: block
}

.shopping-cart-page .cart-content .tips {
	margin-top: -.5rem;
	min-height: 1.75rem;
	line-height: 1rem;
	font-size: .625rem;
	background: #ff7f81;
	color: #fff;
	padding: .375rem .75rem;
	display: block
}

.shopping-cart-page .cart-content .tips div {
	width: 14.25rem;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.shopping-cart-page .cart-content .tips .free-shipping {
	font-size: .625rem;
	width: 3rem;
	float: left;
	text-align: right;
	color: #fff
}

.shopping-cart-page .cart-content .tips .precell-dia .iconfont {
	font-size: 1.25rem;
	vertical-align: middle
}

.shopping-cart-page .cart-content .presell-info {
	margin-top: -.5rem;
	height: 2.625rem;
	padding: .425rem .875rem;
	font-size: .625rem;
	background: #f0f0f0;
	color: #b7b7b7
}

.shopping-cart-page .cart-content .presell-info>span {
	display: block
}

.shopping-cart-page .cart-content .presell-info .iconfont {
	float: left;
	font-size: 1.3rem
}

.shopping-cart-page .cart-content .presell-info .txt {
	height: .875rem;
	line-height: .875rem;
	margin-left: 2.325rem
}

.shopping-cart-page .box {
	background-color: #fff;
	margin-top: .5rem
}

.shopping-cart-page .box.cart-brand:first-child {
	margin-top: 0
}

.shopping-cart-page .cart-nav {
	position: relative;
	color: #c6c6c6;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
	display: none
}

.shopping-cart-page .cart-nav .nav-item {
	padding: .875rem 0;
	height: .875rem;
	box-sizing: content-box;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	position: relative
}

.shopping-cart-page .cart-nav .nav-item.active {
	color: #000
}

.shopping-cart-page .cart-nav.more {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.shopping-cart-page .cart-nav.more .btn-edit {
	position: relative;
	margin-top: .6rem;
	margin-right: .75rem;
	top: auto;
	right: auto
}

.shopping-cart-page .cart-nav .btn-edit {
	display: none;
	width: 2.5rem;
	height: 1.5rem;
	border-radius: 5PX;
	background-color: #efefef;
	color: grey;
	position: absolute;
	top: .6rem;
	right: .75rem;
	font-size: .75rem;
	padding: 0
}

.shopping-cart-page .cart-nav .btn-edit:before {
	content: "\7F16\8F91"
}

.shopping-cart-page .cart-nav span {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: .875rem;
	line-height: .875rem;
	font-size: .875rem;
	text-align: center;
	border-left: 1px solid #e0e0e0
}

.shopping-cart-page .cart-nav .nav-item:first-child span {
	border: none
}

.shopping-cart-page .cart-nav .nav-item:last-child {
	position: relative
}

.shopping-cart-page .cart-nav .presell-tip {
	position: absolute;
	z-index: 1;
	left: -2rem;
	top: 1.75rem
}

.shopping-cart-page .cart-nav .triangle {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #000;
	margin-left: 6rem
}

.shopping-cart-page .cart-nav .pt-content {
	position: relative;
	padding: .3rem;
	background: #000;
	color: #fff;
	font-size: .35rem;
	border-radius: 5PX;
	text-align: center;
	width: 7rem
}

.shopping-cart-page .login-info {
	height: 1.35rem;
	padding: .5rem .575rem;
	color: #24acaa;
	text-align: center;
	font-size: .825rem;
	box-sizing: content-box
}

.shopping-cart-page .login-info .iconfont {
	font-size: .825rem
}

.shopping-cart-page .login-info .btn {
	display: inline-block;
	background: #ed0010;
	color: #fff;
	width: 2.35rem;
	height: 1.35rem;
	line-height: 1.35rem
}

.wechat-body .cart-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.wechat-body .cart-nav .btn-edit {
	display: block
}

.more-box {
	-webkit-transition: all .2s;
	transition: all .2s
}

.promotion-header {
	width: 100%;
	height: 2.2rem;
	overflow: hidden;
	padding: .275rem .75rem;
	border-bottom: 1px solid #f0f0f0
}

.promotion-header .promo-item {
	height: 1.65rem;
	line-height: 1.65rem;
	font-size: .65rem;
	color: #444;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%
}

.promotion-header.more-box {
	height: 2.7rem
}

.promotion-header.more-box .promo-item {
	display: none
}

.promotion-header.more-box .promo-item:first-child {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.promotion-header.more-box .down-arrow {
	display: block
}

.promotion-header.more-box.down {
	height: auto;
	min-height: 2.7rem
}

.promotion-header.more-box.down .promo-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.promotion-header.more-box.down .down-arrow .iconfont:before {
	content: "\E608"
}

.promotion-header .down-arrow {
	display: none;
	width: 100%;
	height: .85rem;
	margin-top: -.35rem;
	text-align: center
}

.promotion-header .down-arrow .iconfont {
	color: #e0e0e0;
	font-size: .75rem
}

.promotion-header .down-arrow .iconfont:before {
	content: "\E609"
}

.promotion-header .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.promotion-header .info .cuxiao {
	margin-right: .275rem;
	color: #ff575c;
	font-size: .75rem
}

.promotion-header .info .cuxiao:before {
	content: "\E6B5"
}

.to-gift {
	text-align: right;
	width: 3.475rem
}

.to-gift.no-storage a {
	color: #c6c6c6
}

.to-gift a {
	color: #ff575c;
	font-size: .575rem
}

.iconfont.to-arrow {
	color: #e0e0e0;
	margin-left: .275rem
}

.iconfont.to-arrow:before {
	content: "\E604"
}

.activity-title {
	background-color: #fff;
	font-size: .8rem;
	padding: .5rem .5rem 0
}

.activity {
	background-color: #fff;
	padding: .2rem .5rem .5rem .8rem;
	font-size: .65rem
}

.activity li:before {
	content: "";
	display: inline-block;
	margin-right: .275rem;
	width: .2rem;
	height: .2rem;
	background-color: #000;
	border-radius: 50%;
	position: relative;
	left: 0;
	top: -.12rem
}

.price-compute {
	background-color: #fff;
	padding: .5rem;
	border-top: 1px solid #e0e0e0;
	font-size: .7rem;
	margin-bottom: .5rem
}

.price-compute .title {
	display: inline-block;
	width: 4.375rem
}

.price-compute .minus {
	float: right
}

.main-wrap {
	background: #f0f0f0
}

.main-wrap .nav-btn:before {
	content: "\7F16\8F91"
}

.main-wrap.edit .btn-edit:before,.main-wrap.edit .nav-btn:before {
	content: "\5B8C\6210"
}

.main-wrap.edit .all-gift-box,.main-wrap.edit .cart-content.active .cart-footer .check-all .select,.main-wrap.edit .total {
	display: none
}

.main-wrap.edit .cart-content.active .cart-footer .check-all .edit {
	display: block
}

.main-wrap.edit .cart-content.active .cart-footer .opts.edit {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.main-wrap.edit .cart-content.active .cart-footer .opts.bill {
	display: none
}

.cart-footer {
	z-index: 1;
	background-color: #fff;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 3rem;
	display: -webkit-box;
	display: -webkit-flex;
    border-top: 1px solid #eee;
	display: flex
}

.cart-footer .check-all {
	width: 2.25rem;
	text-align: center;
	padding-top: .5rem
}

.cart-footer .check-all .select {
	display: block
}

.cart-footer .check-all .edit {
	display: none
}

.cart-footer .check-all p {
	font-size: .65rem;
	color: #666
}

.cart-footer .opts {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: .45rem;
	text-align: right;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end
}

.cart-footer .opts.edit {
	display: none
}

.cart-footer .opts.bill {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.cart-footer .opts .btn {
	display: block;
    width: 3.5rem;
    height: 1.8rem;
    border-radius: .125rem;
    color: #fff;
    margin-left: .35rem;
    margin-right: .35rem;
}

.cart-footer .opts .btn.btn-gray {
	background-color: #444
}

.cart-footer .opts .btn.btn-red {
	background-color: #d1021c
}

.cart-footer .opts .total {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding-top: .275rem;
    padding-right:0.3rem;
    text-align:left;
}

.cart-footer .opts .total .price {
	color: #d0253b;
	font-size: .7rem
}

.cart-footer .opts .total .intro {
	color: #b6b6b6;
	font-size: .575rem
}

.all-gift-box .gift-item {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.all-gift-box .gift-item:last-child .content {
	border: none
}

.all-gift-box .gift-item .flag {
	width: 2rem;
	line-height: 2rem;
	padding-right: .45rem;
	text-align: right;
	color: #444
}

.all-gift-box .gift-item .flag .iconfont {
	vertical-align: middle;
	font-size: .8rem
}

.all-gift-box .gift-item .flag .iconfont.gift:before {
	content: "\E6EC"
}

.all-gift-box .gift-item .flag .iconfont.price-gift:before {
	content: "\E645"
}

.all-gift-box .gift-item .content {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 2.2rem;
	line-height: 2.2rem;
	padding-right: .75rem;
	border-bottom: 1px solid #f1f1f1
}

.all-gift-box .gift-item .content,.all-gift-box .gift-item .content .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.all-gift-box .gift-item .content .opt {
	text-align: right;
	width: 3.475rem
}

.disable-box .remove-all {
	width: 100%;
	height: 3.05rem;
	border-top: 1px solid #f1f1f1;
	text-align: center;
	padding-top: .75rem
}

.disable-box .remove-all .btn-remove {
	width: 5.725rem;
	height: 1.5rem;
	border: 1px solid #b0b0b0;
	background-color: #fff;
	color: #444;
	font-size: .725rem;
	border-radius: .1rem;
	padding: 0
}

.cart-zero {
	width: 100%;
	height: auto;
	padding-top: 2.25rem;
	padding-bottom: 20%
}

.cart-zero i {
	font-size: 3.6rem;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #505050
}

.cart-zero p {
	color: #444;
	padding: .6rem 0
}

.cart-zero a,.cart-zero p {
	display: block;
	text-align: center;
	font-size: .6rem
}

.cart-zero a {
	width: 27%;
	height: 1.4rem;
	overflow: hidden;
	line-height: 1.4rem;
	border: 1px solid #505050;
	border-radius: 5PX;
	margin: 0 auto;
	color: #fff;
	background: #444
}

.good-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	min-height: 6.15rem
}

.good-item:last-child .good-new-info {
	border: none
}

.good-item .good-new-info {
	padding-left: 0
}

.good-item .opt {
	width: 2.5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

.good-item .opt .select {
	display: block
}

.good-item .opt .edit {
	display: none
}

.good-item .opt .disable {
	background-color: #7f7f7f
}

.promos {
	padding: .275rem .75rem .275rem 2.5rem;
	height: 1.425rem;
	overflow: hidden;
	width: 100%
}

.promos.more-box {
	height: 1.925rem
}

.promos.more-box .promo-item {
	display: none
}

.promos.more-box .promo-item:first-child {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.promos.more-box .down-arrow {
	display: block
}

.promos.more-box.down {
	height: auto
}

.promos.more-box.down .promo-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.promos.more-box.down .down-arrow .iconfont:before {
	content: "\E608"
}

.promos .down-arrow {
	display: none;
	width: 100%;
	height: .625rem;
	margin-top: -.175rem;
	text-align: center
}

.promos .down-arrow .iconfont {
	color: #e0e0e0;
	font-size: .75rem
}

.promos .down-arrow .iconfont:before {
	content: "\E609"
}

.promos .promo-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 1.125rem;
	line-height: 1.125rem
}

.promos .promo-item .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: .575rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.promos .promo-item .info .flag {
	margin-right: .275rem;
	color: #ff575c;
	border: 1px solid #ff575c;
	padding: 0 .4rem;
	border-radius: .1rem
}

.promos+.good-item {
	margin-top: -.275rem
}

.fill-text {
	padding: .05rem .3rem;
	color: #fff;
	font-size: .625rem;
	line-height: .75rem;
	border-radius: .75rem
}

.iconfont.chk {
	font-size: 1rem
}

.iconfont.chk:before {
	content: "\E647"
}

.iconfont.chk.checked:before {
	content: "\E60A"
}

.good-new-info {
	width: 100%;
	padding: .5rem .75rem;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	border-bottom: 1px solid #f0f0f0
}

.good-new-info,.good-new-info .img-a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.good-new-info .img-a {
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.good-new-info .img {
	position: relative
}

.good-new-info .img .thumb {
	width: 3.8rem;
	min-height: 5.1rem
}

.good-new-info .img .flag {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: .575rem;
	text-align: center;
	line-height: .575rem;
	color: #fff;
	font-size: .575rem
}

.good-new-info .img .flag.price-gift {
	background-color: #ff0062
}

.good-new-info .img .flag.gift {
	background-color: #85c45b
}

.good-new-info .img .flag .text {
	-webkit-transform: scale(.7);
	transform: scale(.7)
}

.good-new-info .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin-left: .8rem;
	padding-top: .5rem;
	position: relative
}

.good-new-info .info .fixed-height {
	width: 100%;
	min-height: 2.5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.good-new-info .info .fixed-height .intro {
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.good-new-info .info .bottom>.re-add>span {
	border: 1px solid #d0253b;
	padding: .1rem;
	border-radius: .125rem;
	color: #d0253b;
	font-size: .4rem
}

.good-new-info .info .name-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.good-new-info .info .name-row .name {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: .7rem;
	color: #5a5a5a
}

.good-new-info .info .color-size-row {
	color: #b6b6b6;
	font-size: .7rem;
	margin-top: .1rem
}

.good-new-info .info .color-size-row span {
	margin-right: .45rem
}

.good-new-info .info .price {
	font-size: .7rem;
	color: #d0253b
}

.good-new-info .info .price .sales-price {
	color: #b6b6b6;
	margin-left: .125rem;
	text-decoration: line-through
}

.good-new-info .info .price .vip {
	margin-left: .275rem;
	background-color: #d0021b
}

.good-new-info .info .tags {
	width: 100%;
	line-height: .75rem;
	text-align: right
}

.good-new-info .info .tags .low-stocks {
	background-color: #7f7f7f
}

.good-new-info .info .tags .appear-date {
	display: none;
	padding: .1rem 0;
	float: left;
	font-size: .575rem;
	color: #d0253b
}

.good-new-info .info .count {
	width: 1.125rem;
	text-align: right;
	color: #999;
	font-size: .7rem
}

.good-new-info .intro-edit {
	display: none
}

.good-new-info .edit-box {
	width: 7rem;
	margin-bottom: .275rem
}

.good-new-info .edit-box .edit-size-info {
	width: 100%;
	height: 1.85rem;
	line-height: 1.85rem;
	padding-left: .35rem;
	border: 1px solid #dfdfdf;
	border-radius: .125rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	color: #444
}

.good-new-info .edit-box .edit-size-info .txt {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: .575rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.good-new-info .edit-box .edit-size-info .down {
	text-align: center;
	width: 1.375rem
}

.good-new-info .edit-box .edit-size-info .down .iconfont {
	font-size: .75rem
}

.good-new-info .edit-box .edit-size-info .down .iconfont:before {
	content: "\E609"
}

.good-new-info .edit-box .edit-size-info-notop {
	border-top: none;
	border-radius: 0 0 .125rem .125rem
}



.good-new-info .num-opt {
	height: 1.85rem;
	border: 1px solid #dfdfdf;
	border-radius: .125rem .125rem 0 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	overflow: hidden
}

.good-new-info .num-opt .btn {
	width: 2rem;
	display: block;
	height: 100%;
	text-align: center;
	line-height: 1.85rem
}

.good-new-info .num-opt .btn .iconfont {
	color: #444
}

.good-new-info .num-opt .btn.disabled .iconfont {
	color: #b0b0b0
}

.good-new-info .num-opt .btn.btn-opt-minus {
	border-right: 1px solid #dfdfdf
}

.good-new-info .num-opt .btn.btn-opt-minus .iconfont:before {
	content: "\E625"
}

.good-new-info .num-opt .btn.btn-opt-plus {
	border-left: 1px solid #dfdfdf
}

.good-new-info .num-opt .btn.btn-opt-plus .iconfont:before {
	content: "\E624"
}

.good-new-info .num-opt .good-num {
	width: 3rem;
	text-align: center;
	color: #444;
	font-size: .8rem;
	background-color: #fff;
	border: none;
	line-height: 1.85rem;
	height: 1.85rem
}

.good-new-info .num-opt .good-num:disabled {
	color: initial
}

.cart-content.advance-good .appear-date {
	display: block!important
}

.main-wrap.edit .good-item:not(.no-edit) .info {
	padding-top: 0
}

.main-wrap.edit .good-item:not(.no-edit) .intro-name {
	display: none
}

.main-wrap.edit .good-item .opt .edit,.main-wrap.edit .good-item:not(.no-edit) .intro-edit {
	display: block
}

.main-wrap.edit .good-item .opt .disable,.main-wrap.edit .good-item .opt .select {
	display: none
}

.recommend-for-you {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
	font-size: .3rem;
	padding: .75rem 0 .75rem .375rem
}

.recommend-for-you .title {
	color: #444;
	text-align: center;
	font-size: .8rem;
	line-height: 2.2rem
}

.recommend-for-you .swiper-container {
	padding: .75rem .75rem .5rem;
	width: 100%
}

.recommend-for-you .swiper-container .swiper-slide {
	float: left;
	margin: 0 .25rem;
	width: 3.9rem
}

.recommend-for-you .swiper-container .swiper-slide img {
	width: 100%;
	height: 5.2rem
}

.recommend-for-you .sale-name {
	overflow: hidden;
	margin-top: .5rem;
	width: 100%;
	color: #444;
	text-overflow: ellipsis;
	white-space: nowrap
}

.recommend-for-you .price {
	position: relative;
	margin-top: .2rem;
	font-size: .6rem;
	line-height: 1
}

.recommend-for-you .price .sale-price {
	margin-right: .2rem;
	color: #d9134f
}

.recommend-for-you .price .old-price {
	display: block;
	color: #b0b0b0;
	text-decoration: line-through
}

.recommend-for-you .price .no-price {
	color: #444
}

.width750 .recommend-for-you {
	padding: .875rem 0;
	font-size: .35rem
}

.width750 .recommend-for-you .title {
	font-size: .95rem;
	line-height: 2.575rem
}

.width750 .recommend-for-you .swiper-container {
	padding: .875rem .875rem .575rem
}

.width750 .recommend-for-you .swiper-container .swiper-slide {
	margin: 0 .3rem;
	width: 4.575rem
}

.width750 .recommend-for-you .swiper-container .swiper-slide img {
	height: 6.1rem
}

.width750 .recommend-for-you .sale-name {
	margin-top: .575rem
}

.width750 .recommend-for-you .price {
	margin-top: .225rem;
	font-size: .7rem
}

.width750 .recommend-for-you .price .sale-price {
	margin-right: .225rem
}

.good-info {
	float: left;
	margin: .25rem .375rem 1rem;
	width: 6.9rem;
	height: 12.65rem
}

.good-info .tag-container {
	overflow: hidden;
	width: 100%;
	height: .7rem
}

.good-info .tag-container .good-tag {
	display: block;
	float: left;
	box-sizing: border-box;
	margin-right: .1rem;
	height: .7rem;
	text-align: center;
	font-size: 12PX;
	line-height: .7rem
}

.good-info .tag-container .good-tag:last-child {
	margin-right: 0
}

.good-info .tag-container .new-tag {
	width: 1.5rem;
	background-color: #78dc7e;
	color: #fff
}

.good-info .tag-container .hot-tag {
	width: 1.5rem;
	background-color: #ff575c;
	color: #fff
}

.good-info .tag-container .renew-tag {
	width: 2.25rem;
	background-color: #78dc7e;
	color: #fff
}

.good-info .tag-container .sale-tag {
	width: 1.5rem;
	background-color: #ff575c;
	color: #fff
}

.good-info .tag-container .new-festival-tag {
	color: #000;
	width: 2.5rem;
	background-image: url(../images/new-festival.72e80b47c8.png);
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: 2.5rem .7rem
}

.good-info .tag-container .limit-tag {
	width: 1.5rem;
	border: 1px solid #000;
	color: #000;
	line-height: .65rem
}

.good-info .tag-container .is-presell {
	width: 1.5rem;
	background-color: #000;
	color: #fff
}

.good-info .tag-container .is-global {
	padding: .075rem .25rem 0 .2rem;
	color: #fff;
	background-color: #462e3e;
	line-height: .65rem
}

.good-info .tag-container .is-global span {
	display: inline-block;
	background-image: url(../images/airplane.cdc95b50de.png);
	background-repeat: no-repeat;
	padding-left: .8rem;
	background-size: auto 95%
}

.good-detail-img {
	position: relative;
	height: 9.2rem
}

.good-detail-img .good-islike {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.5rem;
	height: 1.5rem;
	color: #b0b0b0;
	text-align: center;
	text-decoration: none;
	font-size: .75rem;
	line-height: 1.5rem
}

.good-detail-img .good-like {
	color: #d72928
}

.good-detail-img img {
	display: block;
	width: 100%;
	height: 9.2rem
}

.good-detail-img .few-tag {
	height: .7rem;
	background: #ffac5b;
	font-size: 12PX;
	line-height: .7rem
}

.good-detail-img .few-tag,.good-detail-img .out-tag {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	text-align: center
}

.good-detail-img .out-tag {
	height: .8rem;
	background: #b0b0b0;
	font-size: .45rem;
	line-height: .8rem
}

.good-detail-img .no-storage {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	opacity: .4;
	position: absolute;
	top: 0
}

.good-detail-img .no-storage .no-storage-img {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../images/outlet_sellout_bg.1dee7efe4d.png);
	background-repeat: no-repeat;
	background-size: contain
}

.good-detail-img .similar-c {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.good-detail-img .similar-c .bg {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .6
}

.good-detail-img .similar-c a {
	display: block;
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	color: #fff;
	background-color: #d0021b;
	font-size: .7rem;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%
}

.good-detail-text {
	position: relative
}

.good-detail-text .name a {
	margin: .375rem 0 .25rem;
	min-height: 1.25rem;
	color: #444;
	line-height: .75rem;
	padding: .125rem 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: 1.5rem
}

.good-detail-text .name a,.good-detail-text .price {
	-webkit-transform: scale(.9);
	transform: scale(.9);
	font-size: 12PX
}

.good-detail-text .price {
	line-height: .55rem;
	white-space: nowrap
}

.good-detail-text .price .sale-price {
	color: #d62927
}

.good-detail-text .price .sale-price.no-price {
	color: #000
}

.good-detail-text .price .market-price {
	font-size: 12PX;
	margin: 0 0 0 .125rem;
	color: #b0b0b0;
	text-decoration: line-through
}

.good-detail-text .vip-grade {
	display: inline-block;
	margin-right: .2rem;
	width: 1.3rem;
	height: .8rem;
	vertical-align: text-bottom
}

.good-detail-text .vip-grade-1 {
	background: url(../images/silver.ec0710b40b.png) no-repeat;
	background-size: contain
}

.good-detail-text .vip-grade-2 {
	background: url(../images/golden.ac08c14407.png) no-repeat;
	background-size: contain
}

.good-detail-text .vip-grade-3 {
	background: url(../images/platinum.c43c465acf.png) no-repeat;
	background-size: contain
}

.good-detail-text .vip-info {
	margin-top: .475rem;
	color: #444;
	font-size: .45rem;
	line-height: .8rem
}

.good-detail-text .vip-info .vip-icon {
	display: inline-block;
	margin-right: .2rem;
	width: 2.2rem;
	height: .8rem;
	background: url(../images/vip-icon.84d2b14146.png) no-repeat;
	background-size: contain;
	vertical-align: bottom
}

.good-detail-text .similar-btn {
	color: #b0b0b0;
	width: 1.25rem;
	height: 2rem;
	line-height: 2.5rem;
	text-align: center;
	position: absolute;
	bottom: -.5rem;
	right: 0;
	font-weight: 700
}

.width750 .good-info {
	margin: .3rem .45rem 1.175rem;
	width: 8.075rem;
	height: 14.825rem
}

.width750 .good-info .tag-container {
	height: .825rem
}

.width750 .good-info .tag-container .good-tag {
	margin-right: .125rem;
	height: .825rem;
	font-size: .525rem;
	line-height: .825rem
}

.width750 .good-info .tag-container .hot-tag,.width750 .good-info .tag-container .new-tag {
	width: 1.75rem
}

.width750 .good-info .tag-container .renew-tag {
	width: 2.625rem
}

.width750 .good-info .tag-container .sale-tag {
	width: 1.75rem
}

.width750 .good-info .tag-container .new-festival-tag {
	width: 2.925rem;
	background-size: 2.925rem .825rem
}

.width750 .good-info .tag-container .limit-tag {
	width: 1.75rem;
	line-height: .75rem
}

.width750 .good-info .tag-container .is-presell {
	width: 1.75rem
}

.width750 .good-detail-img {
	height: 10.775rem
}

.width750 .good-detail-img .good-islike {
	width: 1.75rem;
	height: 1.75rem;
	font-size: .875rem;
	line-height: 1.75rem
}

.width750 .good-detail-img img {
	height: 10.775rem
}

.width750 .good-detail-img .few-tag {
	height: .825rem;
	font-size: .525rem;
	line-height: .825rem
}

.width750 .good-detail-img .out-tag {
	height: .95rem;
	font-size: .525rem;
	line-height: .95rem
}

.width750 .good-detail-text .name a {
	margin: .45rem 0 .3rem;
	min-height: 1.475rem;
	font-size: .65rem;
	line-height: .875rem;
	padding: .15rem 0;
	height: 1.75rem
}

.width750 .good-detail-text .price {
	font-size: .65rem;
	line-height: .65rem
}

.width750 .good-detail-text .price .market-price {
	margin: 0 0 0 .15rem
}

.width750 .good-detail-text .vip-grade {
	margin-right: .225rem;
	width: 1.525rem;
	height: .95rem
}

.width750 .good-detail-text .vip-info {
	margin-top: .55rem;
	font-size: .525rem;
	line-height: .95rem
}

.width750 .good-detail-text .vip-info .vip-icon {
	margin-right: .225rem;
	width: 2.575rem;
	height: .95rem
}

.width750 .goods-container {
	padding-top: .225rem;
	padding-left: .45rem;
	min-height: 25.775rem
}

@-webkit-keyframes loadingScale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	45% {
		-webkit-transform: scale(.1);
		transform: scale(.1);
		opacity: .7
	}

	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes loadingScale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	45% {
		-webkit-transform: scale(.1);
		transform: scale(.1);
		opacity: .7
	}

	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

.width750 .loading {
	margin-top: -.575rem;
	margin-left: -1.75rem;
	width: 3.5rem;
	height: 1.175rem
}

.width750 .loading>div {
	margin: .125rem;
	width: .875rem;
	height: .875rem
}

.loading-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 9
}

.loading-mask .loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -.5rem;
	margin-left: -1.5rem;
	width: 3rem;
	height: 1rem
}

.loading-mask .loading>div {
	display: inline-block;
	margin: .1rem;
	width: .75rem;
	height: .75rem;
	border-radius: 100%;
	background: #fff
}

.loading-mask .loading>div:first-child {
	-webkit-animation: loadingScale .75s cubic-bezier(.2,.68,.18,1.08) .12s infinite;
	animation: loadingScale .75s cubic-bezier(.2,.68,.18,1.08) .12s infinite
}

.loading-mask .loading>div:nth-child(2) {
	-webkit-animation: loadingScale infinite .75s cubic-bezier(.2,.68,.18,1.08) .24;
	animation: loadingScale infinite .75s cubic-bezier(.2,.68,.18,1.08) .24
}

.loading-mask .loading>div:nth-child(3) {
	-webkit-animation: loadingScale infinite .75s cubic-bezier(.2,.68,.18,1.08) .36;
	animation: loadingScale infinite .75s cubic-bezier(.2,.68,.18,1.08) .36
}

.loading-mask.loading-mask-opactiy {
	background: transparent
}

.loading-mask.loading-mask-opactiy .loading>div {
	background-color: #444
}

.width750 .chose-panel .main {
	padding-bottom: 2.925rem
}

.width750 .chose-panel .close {
	width: .875rem;
	height: .875rem;
	margin: .475rem .475rem 0 0;
	font-size: .7rem
}

.width750 .chose-panel .infos {
	padding: 0 .875rem
}

.width750 .chose-panel .basic-info {
	padding-bottom: .875rem;
	min-height: 5.55rem
}

.width750 .chose-panel .thumb-img {
	width: 4.8rem;
	min-height: 5.85rem;
	top: -1.75rem
}

.width750 .chose-panel .thumb-img .hover {
	position: fixed;
	width: 100%;
	background-color: #000;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	border: 0;
	z-index: 999;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.width750 .chose-panel .thumb-img .hover img {
	width: 100%
}

.width750 .chose-panel .text-info {
	margin-left: 5.7rem;
	margin-top: .875rem
}

.width750 .chose-panel .text-info .name {
	height: 1.75rem;
	font-size: .825rem
}

.width750 .chose-panel .text-info .price {
	font-size: .7rem
}

.width750 .chose-panel .text-info .sale-price {
	margin-right: .45rem;
	font-size: .825rem
}

.width750 .chose-panel .text-info .size-info {
	font-size: .7rem;
	margin-top: .15rem
}

.width750 .chose-panel .color-list,.width750 .chose-panel .num,.width750 .chose-panel .size-list {
	padding-left: 2.35rem;
	font-size: .825rem
}

.width750 .chose-panel .color-list>span,.width750 .chose-panel .num>span,.width750 .chose-panel .size-list>span {
	top: .3rem
}

.width750 .chose-panel .color-list>span.left-num,.width750 .chose-panel .num>span.left-num,.width750 .chose-panel .size-list>span.left-num {
	top: .575rem;
	left: 11.125rem
}

.width750 .chose-panel .color-list .left-num-discount,.width750 .chose-panel .num .left-num-discount,.width750 .chose-panel .size-list .left-num-discount {
	top: .6rem;
	left: 11.1rem;
	width: 6.1rem
}

.width750 .chose-panel .color-list,.width750 .chose-panel .size-list {
	margin: .875rem 0
}

.width750 .chose-panel .block {
	margin-right: .875rem;
	margin-bottom: .875rem;
	padding: 0 .575rem;
	min-width: 2.35rem;
	max-width: 14.05rem;
	height: 1.75rem;
	line-height: 1.75rem
}

.width750 .chose-panel .num {
	margin-bottom: .575rem
}

.width750 .chose-panel .num .btn {
	width: 2.35rem;
	height: 2.35rem;
	line-height: 2.35rem
}

.width750 .chose-panel .good-num {
	width: 3.1rem;
	height: 2.35rem;
	line-height: 2.35rem
}

.width750 .chose-panel .btn-wrap .btn-sure {
	height: 2.35rem;
	font-size: .925rem
}

.chose-panel {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	height: 100%;
	background: rgba(0,0,0,.3)
}

.chose-panel .main {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 70%;
	background: #fff;
	padding-bottom: 2.5rem
}

.chose-panel .close {
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	color: #b1b1b1;
	position: relative;
	z-index: 2
}

.chose-panel .infos {
	padding: 0 .75rem;
	height: 100%
}

.chose-panel .chose-items {
	overflow: auto;
	height: 60%
}

.chose-panel .basic-info {
	position: relative;
	padding-bottom: .75rem;
	min-height: 4.75rem;
	border-bottom: 1px solid #e6e6e6
}

.chose-panel .thumb-img {
	width: 4.1rem;
	min-height: 5rem;
	position: absolute;
	top: -1.5rem;
	border: 1px solid #e6e6e6;
	border-radius: 5PX
}

.chose-panel .text-info {
	margin-left: 4.875rem;
	height: auto;
	margin-top: .75rem
}

.chose-panel .text-info .seckill-time {
	position: absolute;
	bottom: .75rem;
	right: 0;
	float: none
}

.chose-panel .text-info .choosed-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.chose-panel .text-info .name {
	display: -webkit-box;
	overflow: hidden;
	height: 1.5rem;
	font-size: .7rem;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.chose-panel .text-info .price {
	display: inline;
	font-size: .6rem
}

.chose-panel .text-info .sale-price {
	margin-right: .375rem;
	color: #d0021b;
	font-size: .7rem
}

.chose-panel .text-info .sale-price.no-price {
	color: #000
}

.chose-panel .text-info .market-price {
	color: #b0b0b0;
	text-decoration: line-through
}

.chose-panel .text-info .size-info {
	font-size: .6rem;
	display: block;
	margin-top: .125rem;
	color: #444
}

.chose-panel .text-info .hide {
	display: none
}

.chose-panel .block-list,.chose-panel .num {
	position: relative;
	padding-left: 2rem;
	font-size: .7rem;
	overflow: hidden
}

.chose-panel .block-list input.disabled,.chose-panel .num input.disabled {
	border-radius: 0;
	background-color: #fff;
	color: #000;
	opacity: 1;
	-webkit-appearance: none
}

.chose-panel .block-list>span,.chose-panel .num>span {
	position: absolute;
	top: .25rem;
	left: 0
}

.chose-panel .block-list>span.left-num,.chose-panel .num>span.left-num {
	position: absolute;
	top: .5rem;
	left: 9.5rem;
	color: #b0b0b0;
	overflow: hidden;
	white-space: nowrap
}

.chose-panel .block-list span.disabled,.chose-panel .num span.disabled {
	color: #e6e6e6
}

.chose-panel .block-list .left-num-discount,.chose-panel .num .left-num-discount {
	color: #e10;
	position: absolute;
	top: .5rem;
	left: 9.5rem;
	overflow: hidden;
	white-space: nowrap;
	width: 5.2rem;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.chose-panel .block-list {
	border-bottom: 1px solid #e6e6e6;
	margin: .75rem 0
}

.chose-panel .block {
	display: block;
	float: left;
	box-sizing: border-box;
	margin-right: .75rem;
	margin-bottom: .75rem;
	padding: 0 .5rem;
	min-width: 2rem;
	max-width: 12rem;
	height: 1.5rem;
	border: 1px solid #444;
	text-align: center;
	line-height: 1.5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 6PX
}

.chose-panel .block.chosed {
	border-color: #e10;
	background: #d0021b;
	color: #fff
}

.chose-panel .block.zero-stock {
	border-color: #e0e0e0;
	color: #e0e0e0
}

.chose-panel .block.zero-stock.chosed {
	border-color: #e0e0e0;
	background: none;
	background-color: silver;
	color: #e0e0e0
}

.chose-panel .num {
	margin-bottom: .5rem
}

.chose-panel .num .btn {
	display: block;
	float: left;
	width: 2rem;
	height: 2rem;
	border: 1px solid #e6e6e6;
	text-align: center;
	line-height: 2rem
}

.chose-panel .num .btn.disable {
	color: #e6e6e6
}

.chose-panel .good-num {
	float: left;
	margin-left: -1px;
	padding: 0;
	width: 2.65rem;
	height: 2rem;
	border: 1px solid #e6e6e6;
	text-align: center;
	line-height: 2rem
}

.chose-panel .btn-plus {
	margin-left: -1px
}

.chose-panel .btn-wrap {
	position: fixed;
	bottom: 0;
	width: 100%
}

.chose-panel .btn-wrap .btn-sure {
	width: 100%;
	height: 2rem;
	border: none;
	background: #d0021b;
	color: #fff;
	font-size: .8rem
}

.chose-panel .btn-wrap .btn-sure-buynow {
	width: 50%;
	height: 2rem;
	border: none;
	background: #444;
	color: #fff;
	font-size: .8rem;
	float: left
}

.chose-panel .btn-wrap .btn-cannot-buynow {
	width: 50%;
	height: 2rem;
	border: none;
	background: #b0b0b0;
	color: #fff;
	font-size: .8rem;
	float: left
}

.chose-panel .btn-wrap .btn-sure-addtocart {
	width: 50%;
	height: 2rem;
	border: none;
	background: #d0021b;
	color: #fff;
	font-size: .8rem;
	float: left
}

.chose-panel .discount-gray {
	background-color: #e0e0e0
}

.chose-panel .hover {
	position: fixed!important;
	width: 100%!important;
	background-color: #000;
	height: 100%;
	top: 0!important;
	left: 0;
	right: 0;
	border: 0;
	z-index: 999;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.chose-panel .hover img {
	width: 100%
}

.is-mars-app .chose-panel .block.chosed {
	background-color: #89b374;
	color: #fff;
	border-color: #89b374
}

.is-mars-app .chose-panel .btn-wrap .btn-sure,.is-mars-app .chose-panel .btn-wrap .btn-sure-addtocart {
	background-color: #89b374!important;
	color: #fff
}

.bundle>.bundle-title {
	height: 2rem;
	overflow: hidden
}

.bundle>.bundle-title,.bundle>.bundle-title .opt {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.bundle>.bundle-title .opt {
	width: 2.5rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

.bundle>.bundle-title .opt .select {
	display: block
}

.bundle>.bundle-title .opt .edit {
	display: none
}

.bundle>.bundle-title .opt .disable {
	background-color: #7f7f7f
}

.bundle>.bundle-title .title {
	width: 16.25rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.bundle>.bundle-title .title .title-tag {
	height: 1rem;
	margin-right: .75rem;
	padding: .1rem;
	font-size: .4rem;
	background-color: #d1021c;
	color: #fff;
	border-radius: .125rem
}

.bundle>.bundle-title .title .title-text {
	width: 11.625rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: keep-all;
	overflow: hidden
}

.bundle>.bundle-title .title .bundle-num {
	color: #999
}

.bundle>.bundle-nums {
	height: 2rem;
	display: none;
	overflow: hidden
}

.bundle>.bundle-nums .label {
	width: 7.1rem;
	height: 2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.bundle>.bundle-nums .label span {
	padding-left: 2.5rem
}

.bundle>.bundle-nums .num-opt {
	border: 1px solid #dfdfdf;
	border-radius: .125rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden
}

.bundle>.bundle-nums .num-opt .btn {
	width: 1.95rem;
	display: block;
	height: 100%;
	text-align: center;
	line-height: 1.85rem
}

.bundle>.bundle-nums .num-opt .btn .iconfont {
	color: #444
}

.bundle>.bundle-nums .num-opt .btn.disabled .iconfont {
	color: #b0b0b0
}

.bundle>.bundle-nums .num-opt .btn.btn-opt-minus {
	border-right: 1px solid #dfdfdf
}

.bundle>.bundle-nums .num-opt .btn.btn-opt-minus .iconfont:before {
	content: "\E625"
}

.bundle>.bundle-nums .num-opt .btn.btn-opt-plus {
	border-left: 1px solid #dfdfdf
}

.bundle>.bundle-nums .num-opt .btn.btn-opt-plus .iconfont:before {
	content: "\E624"
}

.bundle>.bundle-nums .num-opt .good-num {
	width: 3rem;
	text-align: center;
	color: #444;
	font-size: .8rem;
	background-color: #fff;
	border: none;
	line-height: 1.85rem;
	height: 1.85rem
}

.bundle>.bundle-nums .num-opt .good-num:disabled {
	color: initial
}

.bundle>.bundle-nums .count {
	width: 3.875rem;
	text-align: right;
	margin-right: .75rem;
	line-height: 2rem;
	color: #999
}

.edit .bundle-title .opt .select {
	display: none
}

.edit .bundle-title .opt .edit {
	display: block
}

.edit .bundle-title .bundle-num,.edit .bundle-title .opt .disable {
	display: none
}

.edit .bundle-nums {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.bundle>.good-list>.good-item .opt .chk,.bundle>.good-list>.good-item .opt .disable {
	visibility: hidden
}





.footer-tab {
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -8rem;
	width: 100%;
	height: 2.5rem;
	max-width: 16rem;
	padding-top: .5rem;
	box-sizing: border-box;
	background: #fff;
	border-top: 1px solid #b0b0b0;
	z-index: 3
}

.footer-tab .tab-item {
	float: left;
	width: 25%;
	text-align: center;
	color: #b0b0b0
}

.footer-tab .tab-item.current.boys {
	color: #414141
}

.footer-tab .tab-item.current.girls {
	color: #ff88ae
}

.footer-tab .tab-item.current.kids {
	color: #7ad9f9
}

.footer-tab .tab-item.current.lifestyle {
	color: #4f4138
}

.footer-tab .tab-icon {
	font-size: 1rem;
	line-height: 1
}

.footer-tab .tab-name {
	margin-top: .25rem;
	font-size: 12PX;
	line-height: 1;
	-webkit-transform: scale(.9);
	transform: scale(.9)
}


/** cart **/

.cart-content .good-new-info .num-opt {
    height: 1.2rem;
}


.cart-content .good-new-info .edit-box {
    width: 3.6rem;
}

.cart-content .good-new-info .num-opt .btn {

    height: 1.2rem;
}

.cart-content  .good-new-info .num-opt .btn.btn-opt-minus .iconfont::before{
    line-height: 1.2rem;
    vertical-align: top;
}

.cart-content  .good-new-info .num-opt .good-num{
    height: 1.2rem;
    line-height: 1.2rem;
    width:1.2rem;
    font-size: 0.6rem;
}

.cart-content  .good-new-info .num-opt .btn.btn-opt-plus .iconfont::before{
    line-height: 1.2rem;
    vertical-align: top;
}

/** cart **/











